:root {
    --circle-outline: #505050;
    --black: #08090aff;
    --chrysler-blue: #5711e4ff;
    --platinum: #eaeaeaff;
    --periwinkle: #cbc5eaff;
    --blush: #d55672ff;
    --yellow: #E09F3E;
    --lilac: #BE97C6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "saol Display";
}

html,
body {
    width: 100vw;
    height: 100vh;
    /*overflow: hidden; */
    background: var(--black);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
}

.counter {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--circle-outline);
    padding: 2rem 4rem;
    font-size: 10vw;
    font-family: "saol Display";
    font-weight: lighter;
    font-style: italic;
    z-index: 1000;
}

.site-teaser {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 4rem;
    color: var(--circle-outline);
    font-size: 1rem;
    font-family: "saol Display";
    font-weight: lighter;
    font-style: italic;
}

.circles {
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid var(--circle-outline);
    border-radius: 100%;
}

.circle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.circle-inner-rotator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 162.5px;
    height: 162.5px;
    background: none;
    border: 1px solid var(--circle-outline);
    border-radius: 100%;
}

.block {
    position: absolute;
    top: -100px;
    left: 200px;
    width: 0px;
    height: 0px;
    display: none;
    background: none;
    border: 1px solid var(--circle-outline);
    transform-origin: bottom;
}

.container {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--platinum);
}

.container h1 {
    font-family: "saol Display";
    font-weight: 400;
    font-size: 7.5rem;
    letter-spacing: -0.5rem;
}

.container h1 span {
    font-style: italic;
}

/*Content sections*/

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.contain {
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em;
    z-index: 2;
    display: flex;
    align-items: center;
}

.scrollindicator {
    margin-left: 10px;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--platinum);
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

.scrollindicator::before {
    content: "";
    position: absolute;
    top: .5rem;
    left: .6rem;
    width: 8px;
    height: 8px;
    border-left: 2px solid var(--platinum);
    border-bottom: 2px solid var(--platinum);
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: var(--platinum);
}

#videoplay {
    display: flex;
    align-items: center;
}

#scrollkoro {
    display: none;
    align-items: center;
}


section {
    width: 100vw;
    height: 100vh;
}

.hero video {
    position: absolute;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.scroll {
    position: relative;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 700px;
}

.after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #FFF;
    /* background: rgb(21, 9, 245); */
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-family: "saol Display";
}


.after h1{
    color: var(--platinum);
    font-size: 7rem;
    font-family: "saol Display";
    position: relative;
    text-align: center;
}


.first-h1{
    width: 60%;
    
}

.after1{
    background-color: rgb(21, 9, 245);
}

.first-h1:before{
    background-color: rgb(21, 9, 245);
    clip-path: circle(30% at 50% 50%)!important;
}

.second-h1{
    font-size: 5rem!important;
    color: #253D5B!important;
}

.after2{
    background-color: var(--lilac)!important;
    padding: 4rem;
}

.second-h1:before{
    background-color: var(--lilac);
}

.third-h1{
    font-size: 5rem!important;
    color: var(--black)!important;
}

.after3{
    background-color: var(--blush)!important;
    padding: 6rem;
}

.third-h1:before{
    background-color: var(--blush);
}

.fourth-h1{
    font-size: 4rem!important;
    color:#af1d1d!important;
}

.after4{
    background-color: var(--yellow)!important;
    padding: 6rem;
}

.fourth-h1:before{
    background-color: var(--yellow);
}

.fifth-h1{
    font-size: 6rem!important;
    color: #190B28!important;
}

.after5{
    background-color: var(--periwinkle)!important;
    padding: 5rem;
}

.fifth-h1:before{
    background-color: var(--periwinkle);
}

.sixth-h1{
    font-size: 6rem!important;
}

.after6{
    background-color: var(--chrysler-blue)!important;
    padding: 5rem;
}

.sixth-h1:before{
    background-color: var(--chrysler-blue);
}


.after h1:before{
    position: absolute;
   content: attr(data-before);
   top: 0;
   left: 0;
   clip-path: circle(40% at 50% 50%);
   transform: rotate(var(--rotation, 0));
}

.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--platinum);
    background-color: var(--black);
    margin-top: 2rem;
    overflow: hidden;
    text-align: left;
    padding: 5rem;
}

.footer h1 {
    font-size: 10rem;
    font-weight: 400px;
    letter-spacing: 2px;
    font-size: 5rem;
    color: var(--periwinkle);
}

.footer h1 span {
    font-weight: 400px;
    font-size: 5rem;
    position: relative;
    /* animation: glitch-skew 1s infinite linear alternate-reverse; */
    display: inline-block;
    border-bottom: 10px solid var(--chrysler-blue);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 20px;
}

.footer h1 span:hover {
    animation: glitch-skew 1s infinite linear alternate-reverse;
    cursor: pointer;
}

.footer h1 span::before {
    content: "ekhane click koro";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
}

.footer h1 span::after {
    content: "ekhane click koro";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
}

.footer h1 span:hover::after {
    animation: glitch-anim2 5s infinite linear alternate-reverse;
    text-shadow: -2px 0 #ff00c1, 2px 2px #cdc764;
    clip: rect(44px, 450px, 56px, 0);
}

.footer h1 span:hover::before() {
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

#birthday {
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.her {
    position: absolute;
    width: 190px;
    height: fit-content;
    bottom: 50px;
    right: -10px;
    transform: rotate(10deg);
}

.hat {
    position: absolute;
    width: 100px;
    height: fit-content;
    right: -5px;
    transform: rotate(10deg);
    bottom: 240px;
}

#birthday-message {
    display: flex;
    font-size: 6.5vw;
    color: transparent;
    scale: 0;
    opacity: 0;
    position: absolute;
    z-index: 999999999;
}

#birthday-message span {
    color: #fff;
    animation: box 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
    font-family: "Pacifico", cursive;
    margin-top: 5rem;
}

#balloons-contain1 {
    position: absolute;
    right: 0;
    bottom: -6rem;
    height: 450px;
}

#balloons-contain2 {
    position: absolute;
    left: 0;
    bottom: -6rem;
    height: 450px;
    transform: scaleX(-1);
}

.unit {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--yellow);
    box-shadow: 0 0 10px rgba(115, 175, 64, 1),
        0 0 15px rgba(94, 159, 61, 1),
        0 0 20px rgba(115, 175, 64, 1),
        0 0 25px rgba(94, 159, 61, 1);
}

#test{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#test i{
    color: var(--blush);
    opacity: .7;
}

@keyframes box {
    0% {
        color: #fff;
        filter: hue-rotate(0deg);
        text-shadow: 0 0 5px #2658e2, 0 0 10px #2658e2, 0 0 20px #2658e2,
            0 0 40px #2658e2, 0 0 60px #2658e2, 0 0 100px #2658e2, 0 0 150px #2658e2,
            0 0 200px #2658e2;
    }

    30%,
    70% {
        color: #fff;
        filter: hue-rotate(360deg);
        text-shadow: 0 0 5px #2658e2, 0 0 10px #2658e2, 0 0 20px #2658e2,
            0 0 40px #2658e2, 0 0 60px #2658e2, 0 0 100px #2658e2;
    }

    100% {
        color: transparent;
        text-shadow: none;
        filter: hue-rotate(0deg);
    }
}

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
    top: 10px;
}

.lightrope li {
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
    background: #567ef4;
    box-shadow: 0px 4.6666666667px 24px 3px rgba(86, 126, 244, 0.5);
    -webkit-animation-name: flash-2;
    animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
    background: #f4345c;
    box-shadow: 0px 4.6666666667px 24px 3px #f4345c;
    -webkit-animation-name: flash-3;
    animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: -40px;
}



@media only screen and (max-width: 600px) {
    .circles{
        left: 50%;
        transform: translateX(-50%);
    }
    .footer h1{
        font-size: 2rem;
    }

    .footer h1 span{
        font-size: 2rem;
    }

    .hero video{
        width: 90vw;
    }

    .logo{
        width: 100%;
    }

    #videoplay{
        width: 100%;
    }

    .logo a{
        width: 100%;
        text-align: center;
    }

    .scrollindicator{
        margin-left: 0;
    }

    .scrollindicator::before{
        left: .5rem;
    }

    .after h1{
        font-size: 3rem;
    }

    .second-h1{
        font-size: 2rem !important;
    }

    .after3{
        padding: 1rem;
    }

    .third-h1{
        font-size: 3rem !important;
    }

    .after4{
        padding: 1rem;
    }

    .fourth-h1{
        font-size:2rem !important;
    }

    .after5{
        padding: 1.5rem;
    }

    .fifth-h1{
        font-size: 2rem !important;
    }

    .after5{
        padding: 1.5rem;
    }

    .sixth-h1{
        font-size: 2rem !important;
    }
  }



@-webkit-keyframes flash-1 {

    0%,
    100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-1 {

    0%,
    100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@-webkit-keyframes flash-2 {

    0%,
    100% {
        background: #567ef4;
        box-shadow: 0px 4.6666666667px 24px 3px #567ef4;
    }

    50% {
        background: rgba(86, 126, 244, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(86, 126, 244, 0.2);
    }
}

@keyframes flash-2 {

    0%,
    100% {
        background: #567ef4;
        box-shadow: 0px 4.6666666667px 24px 3px #567ef4;
    }

    50% {
        background: rgba(86, 126, 244, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(86, 126, 244, 0.2);
    }
}

@-webkit-keyframes flash-3 {

    0%,
    100% {
        background: #f4345c;
        box-shadow: 0px 4.6666666667px 24px 3px #f4345c;
    }

    50% {
        background: rgba(244, 52, 92, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(244, 52, 92, 0.2);
    }
}

@keyframes flash-3 {

    0%,
    100% {
        background: #f4345c;
        box-shadow: 0px 4.6666666667px 24px 3px #f4345c;
    }

    50% {
        background: rgba(244, 52, 92, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(244, 52, 92, 0.2);
    }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.contain::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contain {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* Animation */

@keyframes border-anim {
    0% {
        border-bottom: 2px solid blue;
    }

    100% {
        border-bottom: 10px solid blue;
    }
}

@keyframes glitch-anim {
    0% {
        clip: rect(67px, 9999px, 22px, 0);
        transform: skew(0.19deg);
    }

    5% {
        clip: rect(1px, 9999px, 20px, 0);
        transform: skew(0.45deg);
    }

    10% {
        clip: rect(17px, 9999px, 54px, 0);
        transform: skew(0.06deg);
    }

    15% {
        clip: rect(2px, 9999px, 81px, 0);
        transform: skew(0.41deg);
    }

    20% {
        clip: rect(84px, 9999px, 82px, 0);
        transform: skew(0.98deg);
    }

    25% {
        clip: rect(80px, 9999px, 34px, 0);
        transform: skew(0.4deg);
    }

    30% {
        clip: rect(43px, 9999px, 53px, 0);
        transform: skew(0.55deg);
    }

    35% {
        clip: rect(23px, 9999px, 47px, 0);
        transform: skew(0.67deg);
    }

    40% {
        clip: rect(21px, 9999px, 63px, 0);
        transform: skew(0.48deg);
    }

    45% {
        clip: rect(72px, 9999px, 17px, 0);
        transform: skew(0.19deg);
    }

    50% {
        clip: rect(54px, 9999px, 85px, 0);
        transform: skew(0.75deg);
    }

    55% {
        clip: rect(95px, 9999px, 9px, 0);
        transform: skew(0.34deg);
    }

    60% {
        clip: rect(71px, 9999px, 16px, 0);
        transform: skew(0.19deg);
    }

    65% {
        clip: rect(20px, 9999px, 11px, 0);
        transform: skew(0.1deg);
    }

    70% {
        clip: rect(79px, 9999px, 62px, 0);
        transform: skew(0.88deg);
    }

    75% {
        clip: rect(21px, 9999px, 45px, 0);
        transform: skew(0.94deg);
    }

    80% {
        clip: rect(46px, 9999px, 39px, 0);
        transform: skew(0.27deg);
    }

    85% {
        clip: rect(41px, 9999px, 45px, 0);
        transform: skew(0.94deg);
    }

    90% {
        clip: rect(81px, 9999px, 55px, 0);
        transform: skew(0.48deg);
    }

    95% {
        clip: rect(1px, 9999px, 74px, 0);
        transform: skew(0.89deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(67px, 9999px, 62px, 0);
        transform: skew(0.08deg);
    }

    5% {
        clip: rect(88px, 9999px, 11px, 0);
        transform: skew(0.67deg);
    }

    10% {
        clip: rect(93px, 9999px, 97px, 0);
        transform: skew(0.64deg);
    }

    15% {
        clip: rect(63px, 9999px, 47px, 0);
        transform: skew(0.85deg);
    }

    20% {
        clip: rect(2px, 9999px, 68px, 0);
        transform: skew(0.03deg);
    }

    25% {
        clip: rect(16px, 9999px, 42px, 0);
        transform: skew(0.66deg);
    }

    30% {
        clip: rect(79px, 9999px, 93px, 0);
        transform: skew(0.23deg);
    }

    35% {
        clip: rect(8px, 9999px, 52px, 0);
        transform: skew(0.07deg);
    }

    40% {
        clip: rect(14px, 9999px, 23px, 0);
        transform: skew(0.51deg);
    }

    45% {
        clip: rect(98px, 9999px, 9px, 0);
        transform: skew(0.27deg);
    }

    50% {
        clip: rect(38px, 9999px, 31px, 0);
        transform: skew(0.73deg);
    }

    55% {
        clip: rect(88px, 9999px, 86px, 0);
        transform: skew(0.67deg);
    }

    60% {
        clip: rect(4px, 9999px, 17px, 0);
        transform: skew(0.58deg);
    }

    65% {
        clip: rect(61px, 9999px, 6px, 0);
        transform: skew(0.24deg);
    }

    70% {
        clip: rect(38px, 9999px, 81px, 0);
        transform: skew(0.14deg);
    }

    75% {
        clip: rect(6px, 9999px, 14px, 0);
        transform: skew(0.1deg);
    }

    80% {
        clip: rect(44px, 9999px, 10px, 0);
        transform: skew(0.51deg);
    }

    85% {
        clip: rect(68px, 9999px, 48px, 0);
        transform: skew(0.62deg);
    }

    90% {
        clip: rect(62px, 9999px, 53px, 0);
        transform: skew(0.15deg);
    }

    95% {
        clip: rect(69px, 9999px, 26px, 0);
        transform: skew(0.36deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(1deg);
    }

    10% {
        transform: skew(-4deg);
    }

    20% {
        transform: skew(-1deg);
    }

    30% {
        transform: skew(-2deg);
    }

    40% {
        transform: skew(0deg);
    }

    50% {
        transform: skew(-4deg);
    }

    60% {
        transform: skew(-3deg);
    }

    70% {
        transform: skew(4deg);
    }

    80% {
        transform: skew(0deg);
    }

    90% {
        transform: skew(1deg);
    }
}